* {
    user-select: none;
    margin: 0;
    letter-spacing: 0.5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2 {
    margin: 0;
    text-align: center;
}

table,
tr,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
    padding: 4px 16px;
}

td {
    text-align: center;
    font-weight:500;
}

td.class_tab {
    width: 140px;
}

td.class_tab_narrow {
    width: 100px;
}

div.back_to_top {
    border: 1px solid black;
    background-color: aliceblue;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
    display: block;
    position: fixed;
    margin: 16px;
    right: 0;
    bottom: 0;
}